<template>
  <div>
    <div class="row">
      <div class="col-md-12" style="margin-bottom: 20px;">
        <div class="row">
          <div class="col-md-4">
            <router-link :to="{ name: 'Campaign Overview', params: getCampaignOverviewLink() }" style="margin:23.5px 0px 8.5px 0px" class="btn btn-icon" tag="button">
                <span class="ti-angle-left"></span> {{projectName}}
            </router-link>
          </div>
          <div class="col-md-4 col-xs-4">
            <h4 class="title" style="text-align:center; margin-left: -141px;">[Campaign Name]</h4>
          </div>
          <div class="col-md-4 col-xs-4" style="text-align: right;">
            <div class="member-wrapper" style="margin:21.5px 0px 6.5px 0px">
              <a @click="inviteMembersModal" class="link"><small> Campaign Members +</small></a><br>
              <div class="member-photo">
                <img src="/img/faces/face-3.jpg"/>
              </div>
              <div class="member-photo">
                <img src="/img/faces/face-3.jpg"/>
              </div>
              <div class="member-photo">
                <img src="/img/faces/face-3.jpg"/>
              </div>
              <div class="member-photo">
                <img src="/img/faces/face-3.jpg"/>
              </div>
              <div class="member-photo">
                <img src="/img/faces/face-3.jpg"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="funnel">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="create-campaign-wrapper">
                <div class="row">
                  <div class="col-md-12">
                    <div class="campaign-content-wrapper">
                      <h3 style="margin: 0; cursor: pointer;" @click="headerModal">Create Your Header Here</h3>
                      <p>Edit Header With Image</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="campaign-content-question">
                      <div class="campaign-content-wrapper">
                        <h3 style="margin: 0; cursor: pointer;" @click="questionModal">Create Your Quiz Here</h3>
                      </div>
                      <p class="question">Your Answer</p>
                      <p class="question">Your Answer</p>
                      <p class="question">Your Answer</p>
                      <p class="question">Your Answer</p>
                      <p class="question">Your Answer</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="campaign-content-wrapper" style="height: 100px; padding: 0;">
                      <p style="font-size: 14px;">
                        Copyright 2018 Digital One. All Right Reserved. Terms of Service | Privacy Policy
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="display: inline-block; vertical-align:top; margin-top: 32px; float: right">
          <button class="btn btn-icon">
            Settings
          </button><br><br>
          <button class="btn btn-icon">
            Share
          </button>
        </div>
      </div>
    </div>

    <invite-members-modal/>
    <question-modal/>
  </div>
</template>
<script>
  import axios from 'axios'
  import {mapFields} from 'vee-validate'
  import InviteMembersModal from './../../Invitation/InviteMembersModal.vue'
  import CircleChartCard from './../../../../UIComponents/Cards/CircleChartCard.vue'
  import StatsCard from './../../../../UIComponents/Cards/StatsCard.vue'
  import QuestionModal from './QuestionModal.vue'

  export default {
    components: {
      StatsCard,
      CircleChartCard,
      InviteMembersModal,
      QuestionModal
    },
    /**
     * Chart data used to render stats, charts. Should be replaced with server data
     */
    data () {
      return {
        campaignMembers: [],
        destination: 'campaign',
        destinationId: this.$route.params.campaignid,
        projectName: this.$route.params.projectName,
        statsCards: [
          {
            type: 'warning',
            icon: 'ti-layout-list-post',
            title: 'Quiz',
            value: '',
            footerText: 'Last Update: 27 days ago',
            footerIcon: 'ti-calendar'
          },
          {
            type: 'success',
            icon: 'ti-video-camera',
            title: 'Video',
            value: '',
            footerText: 'Last Update: 27 days ago',
            footerIcon: 'ti-calendar'
          },
          {
            type: 'danger',
            icon: 'ti-email',
            title: 'Email',
            value: '',
            footerText: 'Last Update: 27 days ago',
            footerIcon: 'ti-calendar'
          }
        ],

      }
    },
    methods: {
      fetchData () {
        const self = this;
        let workspaceId = self.$route.params.workspaceid
        let teamId = self.$route.params.teamid
        let projectId = self.$route.params.projectid
        let campaignId = self.$route.params.campaignid

        axios.get('/api/workspace/' + workspaceId + '/team/' + teamId + '/project/' + projectId + '/campaign/' + campaignId + '/members')
          .then(({ data }) => {
            self.campaignMembers = data;
          });
      },
      getCampaignOverviewLink () {
        return {
          workspaceid: this.$route.params.workspaceid,
          teamid: this.$route.params.teamid,
          projectid: this.$route.params.projectid,
          campaignid: this.$route.params.campaignid
        }
      },
      inviteMembersModal () {
        this.$nextTick(() => {
          this.$modal.show('invite-members-modal')
        })
      },
      questionModal () {
        this.$nextTick(() => {
          this.$modal.show('question-modal')
        })
      },
      shareCampaignModal () {
        this.$modal.show({
          data () {
            return {
              model: {
                url: ''
              },
              modelValidations: {
                campaignurlName: {
                  required: true
                }
              }
            }
          },
          computed: {
            ...mapFields(['url']),
            isComplete () {
              return this.model.url;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Share</h4>
                  </div>
                </div>
                <div class="custom-modal-content">
                  <div class="custom-modal-wrapper">
                    <div class="form-group">
                      <label>URL</label>
                      <div class="input-group">
                        <input createDate="text"
                              name="url"
                              v-validate="modelValidations.url"
                              v-model="model.url"
                              data-vv-as="URL"
                              class="form-control"
                              value="blablabla.com/blablabla/intro"
                              readonly>
                        <div class="input-group-addon" >Copy</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Embed</label>
                      <div class="input-group">
                        <input createDate="text"
                              name="embed"
                              v-validate="modelValidations.embed"
                              v-model="model.embed"
                              data-vv-as="Embed"
                              class="form-control"
                              value="<iframe>blablabla</iframe>"
                              >
                        <div class="input-group-addon" >Copy</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Social Media</label>
                      <div class="socmed-wrapper">
                        <a href="#" class="socmed-button">
                          <img src="/img/socmed-logo/facebook.png"/>
                        </a>
                        <a href="#" class="socmed-button">
                          <img src="/img/socmed-logo/twitter.png"/>
                        </a>
                        <a href="#" class="socmed-button">
                          <img src="/img/socmed-logo/instagram.png"/>
                        </a>
                        <a href="#" class="socmed-button">
                          <img src="/img/socmed-logo/linkedin.png"/>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="custom-modal-footer">
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalCampaign () {
              this.$modal.hide('shareCampaignModal');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            createCampaign () {
              var self = this;
              this.$validator.validateAll().then(isValid => {
                axios.post('/api/project/' + self.$route.params.projectid + '/campaign', {
                  name: self.model.campaignName
                }).then(({ data }) => {
                  //
                });
              });
            }
          }
        }, null, {
          name: 'shareCampaignModal'
        })
      },
      editIntroModal () {
        this.$modal.show({
          data () {
            return {
              model: {
                campaignName: ''
              },
              modelValidations: {
                campaignName: {
                  required: true
                }
              }
            }
          },
          computed: {
            ...mapFields(['campaignName']),
            isComplete () {
              return this.model.campaignName;
            }
          },
          template: `
            <div class="example-modal-content">
              <form>
                <div class="custom-modal-header">
                  <div class="custom-modal-wrapper">
                    <h4>Create New Campaign</h4>
                  </div>
                </div>
                <div class="custom-modal-content">
                  <div class="custom-modal-wrapper">
                    <div class="form-group">
                      <label>Campaign Name</label>
                      <input createDate="text"
                            name="campaignName"
                            v-validate="modelValidations.campaignName"
                            v-model="model.campaignName"
                            data-vv-as="Campaign Name"
                            class="form-control" autofocus>
                      <small class="text-danger" v-show="campaignName.invalid">
                        {{ getError('campaignName') }}
                      </small>
                    </div>
                    <div class="form-group">
                      <label for="template">Choose Template</label>
                      <select class="form-control" id="template" name="template">
                        <option>Default</option>
                        <option>Quiz</option>
                        <option>Video</option>
                        <option>Mailbot</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="custom-modal-footer">
                  <div class="custom-modal-wrapper">
                    <button type="button" class="btn btn-primary" @click="closeModalCampaign">Close</button>
                    <button class="btn btn-success pull-right" type="submit" @click.prevent="createCampaign" :disabled="!isComplete">Create Campaign</button>
                  </div>
                </div>
              </form>
            </div>
          `,
          methods: {
            closeModalCampaign () {
              this.$modal.hide('editIntroModal');
            },
            getError (fieldName) {
              return this.errors.first(fieldName)
            },
            createCampaign () {
              var self = this;
              this.$validator.validateAll().then(isValid => {
                axios.post('/api/project/' + self.$route.params.projectid + '/campaign', {
                  name: self.model.campaignName
                }).then(({ data }) => {
                  //
                });
              });
            },
          }
        }, null, {
          name: 'editIntroModal'
        })
      },
      headerModal() {
         console.log()
        this.$modal.show({
          data () {
            return {
              model: "",
              config: {
                placeholderText: 'Write something..',
                charCounterCount: false,
                immediateVueModelUpdate: true,
                toolbarButtons: [
                  'fontFamily', '|', 'fontSize', '|', 'bold', 'italic', 'underline', 'color', '|', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote'
                ],
                height: 200,
                events: {
                  'froalaEditor.initialized': function () {
                    console.log('initialized', this.model)
                  },
                  'froalaEditor.html.cleanEmptyTags': function(e, editor, html, data) {
                    this.model = "e";
                  }
                },
              }
            }
          },
          template: `
            <div class="example-modal-content">
              <div class="custom-modal-header">
                <div class="custom-modal-wrapper">
                    <h4>
                      Write Your Title
                      <span>
                        <i class="fa fa-times times pull-right" @click="closeHeaderModal"></i>
                      </span>
                    </h4>
                    
                </div>
              </div>
              <div class="custom-modal-content">
                <div class="campaign-content-wrapper" style="padding: 10px;">
                  <froala :tag="'textarea'" :config="config" v-model="model"></froala>
                </div
              </div>
              <div class="custom-modal-footer">
                <div class="custom-modal-wrapper">
                  <button class="btn btn-success btn-sm pull-right" type="submit" @click.prevent="createHeaderTitle(model)" style="margin-bottom: 20px;">
                    Create
                  </button>
                </div>
              </div>
            </div>
          `,
          methods: {
            closeHeaderModal () {
              this.$modal.hide('headerModal');
            },
            createHeaderTitle: function (obj) {
              Vue.headerName = 'Hello!'
              this.headerName = "ayam"
              console.log(this.headerName)
              console.log("a")
              this.closeHeaderModal();
            }
          }
        }, null, {
          name: 'headerModal'
        })
      }
    },
    watch: {
      // call again the method if the route changes
      '$route': 'fetchData'
    },
    created () {
      this.fetchData()
    }
  }

</script>
<style lang="scss">
  .v--modal-box{
    height: auto !important;
  }
  .example-modal-content{
    .custom-modal-wrapper{
      margin: 20px;
    }
    .custom-modal-header{
      border-bottom: 1px solid #e8e7e3;
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .15s
  }

  .fade-enter,
  .fade-leave-to/* .fade-leave-active in <2.1.8 */
  {
    opacity: 0
  }

  .el-tag{
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .member-wrapper{
    text-align: right;
    .member-photo{
      display: inline;
      img{
        border-radius: 25px;
        width: auto;
        height: 20px;
        border-width: 2px;
        border-color: #a10100;
      }
    }
  }

  .funnel{
    width: calc(100% - 100px);
    display: inline-block;
    vertical-align:top;
  }

  .create-campaign-wrapper{
    margin-bottom: 20px; 
    border: 1px solid #d3d3d3;
    background-color: #fff;
    padding: 30px 15% 0px 15%;
    .campaign-content-wrapper{
      margin-bottom: 20px; 
      border: 1px solid #d3d3d3;
      text-align: center;
      padding: 30px 0 30px 0;
    }
    .campaign-content-question{
      margin-bottom: 20px; 
      border: 1px solid #d3d3d3;
      text-align: left;
      padding: 30px 50px 30px 50px;
      .question{
          background-color: #99E0FF;
          padding: 10px 0px 10px 30px;
          border-radius: 15px;
          color : #169ed8;
      }
    }
  }

  .main-panel{
    .back-button{
      width: 59px;
      display: inline;
      padding: 5px 15px 15px 17px;
      vertical-align:top;
    }
    .side-content{
      width: calc(100% - 85px);
      display: inline-block;
      vertical-align:top;
    }
  }

  .socmed-wrapper{
    margin-bottom: 20px;
    .socmed-button{
      display: inline-block;
      vertical-align: middle;
      padding: 5px 5px;
      border-radius: 25px;
      transition: all ease-in-out .3s;
      img{
        height: 50px;
        width: 50px;
        border-radius: 25px;
        transition: all ease-in-out .3s;
      }
      &:hover img, &:active img{
        border: 4px solid #000;
      }
    }
  }
</style>