<template>
  <div class="card">
    <div class="card-header">
      <h4 class="title">Edit SMTP</h4>
    </div>
    <div class="card-content">
      <form>
        <div class="row">
          <div class="col-md-12">
            <fg-input type="text"
                      label="Name"
                      placeholder="Name"
                      v-model="smtp.name">
            </fg-input>
            <fg-input type="text"
                      label="Host"
                      placeholder="Host"
                      v-model="smtp.host">
            </fg-input>
            <fg-input type="text"
                      label="Port"
                      placeholder="Port"
                      v-model="smtp.port">
            </fg-input>
            <fg-input type="text"
                      label="Username"
                      placeholder="Username"
                      v-model="smtp.username">
            </fg-input>
            <fg-input type="text"
                      label="Password"
                      placeholder="Password"
                      v-model="smtp.password">
            </fg-input>
            <fg-input type="text"
                      label="Encryption"
                      placeholder="Encryption"
                      v-model="smtp.encryption">
            </fg-input>
            <fg-input type="text"
                      label="From Email"
                      placeholder="From Email"
                      v-model="smtp.from_email">
            </fg-input>
            <fg-input type="text"
                      label="From Name"
                      placeholder="From Name"
                      v-model="smtp.from_name">
            </fg-input>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-default btn-fill btn-wd" @click="$router.go(-1)">
            Back
          </button>
          <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="updateSMTP">
            Update SMTP
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  import swal from 'sweetalert2'

  export default {
    data () {
      return {
        smtpId: null,
        smtp: {
          name: '',
          host: '',
          port: '',
          username: '',
          password: '',
          encryption: '',
          from_email: '',
          from_name: ''
        }
      }
    },
    methods: {
      updateSMTP () {
        var app = this;
        axios.put('/api/smtp/' + app.smtpId, {
          name: this.smtp.name,
          host: this.smtp.host,
          port: this.smtp.port,
          username: this.smtp.username,
          password: this.smtp.password,
          encryption: this.smtp.encryption,
          from_email: this.smtp.from_email,
          from_name: this.smtp.from_name
        }).then(() => {
          swal({
            title: `Success!`,
            text: `SMTP was updated!`,
            buttonsStyling: false,
            confirmButtonClass: 'btn btn-success btn-fill',
            type: 'success'
          });

          app.$router.push({ name: 'SMTP List' });
        }).catch(function (error) {
          //
        }).then(function () {
          //
        });
      }
    },
    mounted () {
      let app = this;
      let id = app.$route.params.smtpid;
      app.smtpId = id;

      axios.get('/api/smtp/' + id).then(({ data }) => {
        app.smtp = data;
      });
    }
  }
</script>
<style>

</style>
