<template>
    <div>
        <video id="myVideo" class="video-js vjs-default-skin"></video>

        <hr>

        <label>File
            <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
        </label>
        <button v-on:click="submitFile()">Submit</button>
    </div>
</template>

<style>
/* change player background color */
#myVideo {
  background-color: #95DDF5;
}
</style>

<script>
    import 'video.js/dist/video-js.css'
    import 'videojs-record/dist/css/videojs.record.css'

    import axios from 'axios'
    import videojs from 'video.js'
    import Record from 'videojs-record/dist/videojs.record.js'

    export default {
        data () {
            return {
                file: '',
                player: '',
                options: {
                    controls: true,
                    autoplay: false,
                    fluid: true,
                    loop: false,
                    width: 320,
                    height: 240,
                    controlBar: {
                        volumePanel: false
                    },
                    plugins: {
                        // configure videojs-record plugin
                        record: {
                            audio: true,
                            video: true,
                            debug: true,
                            maxLength: 10
                        }
                    }
                }
            };
        },
        mounted () {
            this.player = videojs('#myVideo', this.options, () => {
                // print version information at startup
                var msg = 'Using video.js ' + videojs.VERSION +
                    ' with videojs-record ' + videojs.getPluginVersion('record') +
                    ' and recordrtc ' + RecordRTC.version;
                videojs.log(msg);
            });

            // device is ready
            this.player.on('deviceReady', () => {
                console.log('device is ready!');
            });

            // user clicked the record button and started recording
            this.player.on('startRecord', () => {
                console.log('started recording!');
            });

            // user completed recording and stream is available
            this.player.on('finishRecord', () => {
                // the blob object contains the recorded data that
                // can be downloaded by the user, stored on server etc.
                console.log('finished recording: ', this.player.recordedData);

                // upload recorded data
                this.upload(this.player.recordedData);
                //this.player.record().saveAs({'video': this.player.recordedData.name + '.mp4'});
            });

            // error handling
            this.player.on('error', (error) => {
                console.warn(error);
            });
        },
        beforeDestroy () { 
            if (this.player) {
                this.player.dispose();
            }
        },
        methods: {
            handleFileUpload () {
                this.file = this.$refs.file.files[0];
            },
            submitFile () {
                console.log(this.file);

                let formData = new FormData();
                formData.append('file', this.file);

                axios.post('/api/uploaders',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(({res}) => {
                    //console.log(res);
                });
            },
            upload (blob) {
                console.log('-------------------');
                console.log(blob);
                console.log('-------------------');

                let formData = new FormData();
                formData.append('file', blob.video);

                console.log('uploading recording:', blob.video.name);

                axios.post('/api/uploaders',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(({res}) => {
                    //console.log(res);
                });

                // fetch(serverUrl, {
                //     method: 'POST',
                //     body: formData
                // }).then(
                //     success => console.log('recording upload complete.')
                // ).catch(
                //     error => console.error('an upload error occurred!')
                // );
            }
        }
    }
</script>