<template>
  <div class="text-center" style="margin-bottom: 20px;">
    <el-button type="info" round @click="showEditButton = true">
      Create button
    </el-button>
    <el-dialog
      title="Create button"
      :visible.sync="showEditButton"
      width="80%"
      top="5vh"
      append-to-body>
      <el-row :gutter="30">
        <el-form label-width="100px">
          <el-col :span="10">
            <el-form-item label="Text">
              <el-input v-model="item.text" placeholder="Your text here"></el-input>
            </el-form-item>
            <el-form-item label="Font family">
              <el-select v-model="item.font" placeholder="Font" style="width: 100%">
                <el-option label="Calibri" selected value="Calibri"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="Font weight">
              <el-radio v-model="item.fontWeight" label="bold" class="text-bold">Bold</el-radio>
              <el-radio v-model="item.fontWeight" label="italoc" class="text-italic"><span class="text-italic">Italic</span></el-radio>
            </el-form-item>
            <el-form-item label="Horizontal">
              <el-input-number v-model="item.horizontal_padding" :min="1" :max="10" size="small"></el-input-number>
            </el-form-item>
            <el-form-item label="Vertical">
              <el-input-number v-model="item.horizontal_padding" :min="1" :max="10" size="small"></el-input-number>
            </el-form-item>
            <el-form-item label="Rounded">
              <el-input-number v-model="item.horizontal_padding" :min="1" :max="10" size="small"></el-input-number>
            </el-form-item>
            <el-form-item label="Top Color">
              <el-color-picker v-model="item.color"></el-color-picker>
            </el-form-item>
            <el-form-item label="Bottom Color">
              <el-color-picker v-model="item.color"></el-color-picker>
            </el-form-item>
          </el-col>
          <el-col :span="14">
            <div class="minisite-content-block" style="height: 300px; position: relative; background-color: #FCFCFC">
              <span>Preview</span>
              <el-button type="primary" class="btn-preview">
                {{ item.text }}
              </el-button>
              <div class="undo-redo">
                <el-button icon="el-icon-arrow-left" round size="mini">Undo</el-button>
                <el-button size="mini" round>Redo <i class="el-icon-arrow-right el-icon-right"></i></el-button>
              </div>
            </div>
          </el-col>
        </el-form>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button type="info" round @click="showEditButton = false">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { Dialog, Slider, Input, Row, Col, Select, Form, FormItem, Checkbox, Radio, InputNumber, ColorPicker } from 'element-ui'
export default {
   components: {
     'el-dialog': Dialog,
     'el-slider': Slider,
     'el-input': Input,
     'el-row': Row,
     'el-col': Col,
     'el-select': Select,
     'el-form': Form,
     'el-form-item': FormItem,
     'el-Checkbox': Checkbox,
     'el-radio': Radio,
     'el-input-number': InputNumber,
     'el-color-picker': ColorPicker
   },
   data () {
     return {
       item: {
         text: 'Edit your text'
       },
       showEditButton: false
     }
   }
}
</script>
