<template>
  <div class="minisite-box">
    <h3 class="minisite-editor-title">
      <editor inline/>
    </h3>
    <slot></slot>
  </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue';
export default {
 components: {
   Editor
 }
}
</script>

<style lang="css">
</style>
