<template>
	<div>
		<p>
		  <label>
		    <small>Opt In</small>
		    <p-switch v-model="switches.On" type="btn-icon" on-text="ON" off-text="OFF" @click.native="showDialog = true">
		    </p-switch>
		  </label>
		</p>
		<el-dialog title="Edit Your Opt-In" :visible.sync="showDialog" width="85%" top="5vh" append-to-body>
			<el-row :gutter="30">
				<el-form label-width="100px">

					<div class="col-md-3">
						<div class="form-group">
							<label for="loadcapture">
								Load Capture Form :
							</label>
	            <el-select v-model="Ctx.LoadCapture" placeholder="Load Capture Form" style="width: 100%" id="loadcapture">
	              <el-option label="Load Capture Form" selected value="Load Capture Form">
	              </el-option>
	              <el-option label="Facebook Opt In" selected value="Facebook Opt In">
	              </el-option>
	            </el-select>
						</div>
						<div class="form-group">
							<label for="headline">Headline</label>
							<el-input v-model="Ctx.HeadLine" placeholder="Headline" id="headline">
							</el-input>
						</div>
						<div class="form-group">
							<label for="headlinedesc">Headline Description</label>
							<el-input v-model="Ctx.HeadLineDescription" placeholder="Headline Description" id="headlinedesc">
							</el-input>
						</div>
						<div class="form-group">
							<label>Enable Form Field</label><br>
              <el-checkbox
              	label="firstName"
              	v-model="Ctx.FirstName">
              	First Name
              </el-checkbox><br>
              <el-checkbox label="lasName" v-model="Ctx.LastName">
              	Last Name
              </el-checkbox><br>
              <el-checkbox label="emailAddress" v-model="Ctx.EmailAddress">
              	Email Address
              </el-checkbox><br>
              <el-checkbox label="phoneNumber" v-model="Ctx.PhoneNumber">
              	Phone Number
              </el-checkbox>
						</div>
						<div class="form-group">
							<label>GDPR Consent</label><br>
              <el-checkbox label="enableGDPR" v-model="Ctx.EnableGdpr">
              	Enable GDPR Consent
              </el-checkbox>
						</div>
						<div class="form-group">
							<label for="companyName">
								Company Name
							</label>
							<el-input v-model="Ctx.CompanyName" placeholder="Company Name" id="companyName">
							</el-input>
						</div>
						<div class="form-group">
							<label for="companyName">
								Call To Action Label
							</label>
							<el-input v-model="Ctx.CallToActionLabel" placeholder="Asia/Jakarta" id="companyName">
							</el-input>
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<label for="integration">Integration :</label>
	            <el-select v-model="Ctx.Integraion" placeholder="Select Integration" style="width: 100%" id="integration">
	              <el-option label="Select Integration" selected value="Load Capture Form">
	              </el-option>
	              <el-option label="Facebook Opt In" selected value="Facebook Opt In">
	              </el-option>
	            </el-select>
						</div>
						<div class="form-group">
							<label for="listSegment">List / Segment :</label>
	            <el-select v-model="Ctx.ListOrFragment" placeholder="List Segment" style="width:100%" id="listSegment">
	              <el-option label="Segment 1" selected value="Segment 1">
	              </el-option>
	              <el-option label="Segment 2" selected value="Segment 2">
	              </el-option>
	            </el-select>
						</div>
						<div class="form-group">
							<label for="loadNotification">
								Load Notification
							</label><br>
							<p-switch v-model="Ctx.LoadNotification" type="btn-icon" id="loadNotification" on-text="ON" off-text="OFF">
							</p-switch>
						</div>
						<div class="form-group">
							<label for="recipientEmail">
								Recipient E-mail
							</label>
							<el-input v-model="Ctx.RecipientEmail" placeholder="Recipient E-mail" id="recipientEmail">
							</el-input>
						</div>
						<div class="form-group">
							<label for="frequency">
								Frequency
							</label>
							<el-input v-model="Ctx.Frequency" placeholder="Frequency" id="frequency">
							</el-input>
						</div>
						<div class="form-group">
							<label for="timezone">
								Timezone
							</label>
							<el-input v-model="Ctx.Timezone" placeholder="Timezone" id="timezone">
							</el-input>
						</div>
						<div class="form-group">
							<label for="skipOption">
								Skip Option
							</label><br>
							<p-switch v-model="Ctx.SkipOption" type="btn-icon" id="skipOption" on-text="ON" off-text="OFF">
							</p-switch>
						</div>
					</div>
					<div class="col-md-6">
						Preview :
						<div class="row" style="background-color:#fcfcfc;border:1px solid #eee;">
							<div class="col-md-12">
								<center>
									<h2>
										<b>Headline</b>
									</h2>
									<!-- <div style="padding-bottom:10px;"></div> -->
									<h5>Headline Description</h5>
								</center>
								<div class="form-group">
									<label for="firstName">First Name</label>
									<el-input v-model="item" placeholder="Enter Your First Name" id="firstName">
									</el-input>
								</div>
								<div class="form-group">
									<label for="lastName">Last Name</label>
									<el-input v-model="item" placeholder="Enter Your Last Name" id="lastName">
									</el-input>
								</div>
								<div class="form-group">
									<label for="email">Email Address</label>
									<el-input v-model="item" placeholder="Enter Your Email" id="email">
									</el-input>
								</div>
								<div class="form-group">
									<label for="email">Phone</label>
									<el-input v-model="item" placeholder="Enter Your Phone Number" id="email">
									</el-input>
								</div>
								<div class="form-group">
		              <el-checkbox label="enableGDPR">
		              	<small>I confirm that i am over the age 16 and i consent to communications from company name.
		              	</small>
		              </el-checkbox>
								</div>
								<div class="form-group">
									<button type="button" class="el-button el-button--info is-round btn-block">
										Confirm Button
									</button>
								</div>
							</div>
						</div>
					</div>

				</el-form>
			</el-row>
      <span slot="footer" class="dialog-footer">
        <button class="btn btn-wd" @click="showDialog = false">
        	Save
        </button>
      </span>			
		</el-dialog>
	</div>
</template>
<script>
import { Dialog, Slider, Input, Row, Col, Select, Form, FormItem, Checkbox, Radio, InputNumber, ColorPicker } from 'element-ui'
import PSwitch from '../../../../UIComponents/Switch.vue'
export default {
	name : 'optin-switch',
  data() {
    return {
    	item : null,
      switches: {
        On : false,
      },
      showDialog : false,
      Ctx : {
      	LoadCapture : null,
      	HeadLine : null,
      	HeadlineDesc : null,
      	FirstName : false,
      	LastName : false,
      	EmailAddress : false,
      	PhoneNumber : false,
      	EnableGdpr : false,
      	CompanyName : null,
      	CallToActionLabel : null,
      	Integration : null,
      	ListOrFragment : null,
      	LoadNotification : false,
      	RecipientEmail : null,
      	Frequency : null,
      	Timezone : null,
      	SkipOption : false,
      }
    }
  },
  components: {
    'p-switch' : PSwitch,
		'el-dialog': Dialog,
		'el-slider': Slider,
		'el-input': Input,
		'el-row': Row,
		'el-col': Col,
		'el-select': Select,
		'el-form': Form,
		'el-form-item': FormItem,
		'el-checkbox': Checkbox,
		'el-radio': Radio,
		'el-input-number': InputNumber,
		'el-color-picker': ColorPicker
  },
  props: {
    // title: {
    //   type: String,
    //   default: 'Your page Title'
    // }
  },
  watch : {
  	showDialog(v) {
  		this.switches.On = v
  	}
  },
  methods : {}
}
</script>