<template>
  <div class="text-block">
    <editor
      v-bind="$attrs"
      :init="{ menubar: false, plugins: 'lists placeholder', toolbar: 'undo redo | bold italic underline numlist bullist| alignleft aligncenter alignright alignfull' }"
      :placeholder="placeholder"
      :initial-value="value"
      class="tinymce-editor text-block-item"
      @input="$emit('change', $event)"
      @onFocusIn="showChangeBg = true"
      @onFocusOut="onClickIcon(false)"
      inline
    />
    <span v-if="showStyle" class="text-block-style"></span>
    <i v-show="showChangeBg && showBgIcon" class="fa fa-image bg-icon" @click="onClickIcon(true)"></i>
  </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue';
export default {
  components: {
    Editor
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    placeholder: {
      type: String,
      default: 'Add text or type / to add content'
    },
    showStyle: {
      type: Boolean,
      default: false
    },
    value: {
      type: String,
      default: ''
    },
    showBgIcon: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      showChangeBg: false
    }
  },
  methods: {
    onClickIcon (event) {
      let _this = this
      if (event) {
          this.$emit('onClickIcon')
      }
      setTimeout(function () { _this.showChangeBg = false }, 100)
    }
  }
}
</script>

<style>
.mce-tinymce {
  box-shadow: none !important;
  border-color: #E4E5E7 !important;
  border-bottom-color: transparent !important;
}

.text-block {
  position: relative;
  margin-bottom: 5px;
}

.text-block-style {
  position: absolute;
  width: 50px;
  height: 50px;
  right: -25px;
  bottom: -25px;
  border-radius: 50%;
  background: #82878F;
}

h1.text-block-item {
  text-align: left;
  width: auto !important;
  font-size: 32px !important;
  margin-top: 0;
}

.text-block-item {
  color: #1A1E23 !important;
  padding: 15px 30px;
  position: relative;
  border: 1px solid transparent;
}

.text-block-item p {
  font-size: 16px;
  font-weight: 400;
}

.text-block-item p:last-child {
  margin-bottom: 0;
}
.text-block-item:hover {
  border-color: #479CD3;
  transition: 0.3s;
}

.text-block-item:focus {
  outline: none;
  border-color: #E4E5E7;
}

.text-block-item:focus .text-block-style {
  display: none;
}

.plugin-placeholder:before {
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
  -webkit-margin-start: 0 !important;
  -webkit-margin-end: 0 !important;
  font-style: normal !important;
  font-size: 18px;
  font-weight: 500;
}

h1.plugin-placeholder:before {
  font-size: 32px;
  font-weight: bold;
  color: #818790;
}

.bg-icon {
  position: absolute;
  right: -35px;
  top: 10px;
  margin: 0;
  padding: 0;
  line-height: 0;
  color: #E4E5E7;
  font-size: 24px;
}

.bg-icon:hover {
  cursor: pointer;
  color: #818790;
}
</style>
