<template>
  <div class="row">
    <div class="col-md-12 card">
        <div class="card-header row">
            <router-link :to="{name: 'Create Permission'}">
                <button class="btn btn-wd btn-success">Create Permission</button>
            </router-link>
        </div>
    </div>
    <div class="col-md-12 card">
      <div class="card-header row">
        <div class="col-sm-6">
          <el-select
            class="select-default"
            v-model="pagination.perPage"
            placeholder="Per page">
            <el-option
              class="select-default"
              v-for="item in pagination.perPageOptions"
              :key="item"
              :label="item"
              :value="item">
            </el-option>
          </el-select>
        </div>
        <div class="col-sm-6">
          <div class="pull-right">
            <label>
              <input type="search" class="form-control input-sm" placeholder="Search records" v-model="searchQuery" aria-controls="datatables">
            </label>
          </div>
        </div>
      </div>
      <div class="card-content row">
        <div class="col-sm-12">
          <el-table class="table-striped"
                    :data="queriedData"
                    border
                    style="width: 100%">
            <el-table-column v-for="column in tableColumns"
                             :key="column.label"
                             :min-width="column.minWidth"
                             :prop="column.prop"
                             :label="column.label">
            </el-table-column>
            <el-table-column
              :min-width="120"
              fixed="right"
              label="Actions">
              <template slot-scope="props">
                <router-link :to="{name: 'Edit Permission', params: {id: props.row.id}}">
                  <a class="btn btn-simple btn-xs btn-warning btn-icon edit"><i class="ti-pencil-alt"></i></a>
                </router-link>
                <a class="btn btn-simple btn-xs btn-danger btn-icon remove"  @click="handleDelete(props.$index, props.row)"><i class="ti-close"></i></a>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <div class="col-sm-6 pagination-info">
          <p class="category">Showing {{from + 1}} to {{to}} of {{total}} entries</p>
        </div>
        <div class="col-sm-6">
          <p-pagination class="pull-right"
                        v-model="pagination.currentPage"
                        :per-page="pagination.perPage"
                        :total="pagination.total">
          </p-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue'
  import {Table, TableColumn, Select, Option} from 'element-ui'
  import PPagination from './../../../../UIComponents/Pagination.vue'
  import axios from 'axios';
  import swal from 'sweetalert2'

  Vue.use(Table)
  Vue.use(TableColumn)
  Vue.use(Select)
  Vue.use(Option)

  export default{
    components: {
      PPagination
    },
    computed: {
      pagedData () {
        return this.tableData.slice(this.from, this.to)
      },
      /***
       * Searches through table data and returns a paginated array.
       * Note that this should not be used for table with a lot of data as it might be slow!
       * Do the search and the pagination on the server and display the data retrieved from server instead.
       * @returns {computed.pagedData}
       */
      queriedData () {
        if (!this.searchQuery) {
          this.pagination.total = this.tableData.length
          return this.pagedData
        }
        let result = this.tableData
          .filter((row) => {
            let isIncluded = false
            for (let key of this.propsToSearch) {
              let rowValue = row[key].toString()
              if (rowValue.includes && rowValue.includes(this.searchQuery)) {
                isIncluded = true
              }
            }
            return isIncluded
          })
        this.pagination.total = result.length
        return result.slice(this.from, this.to)
      },
      to () {
        let highBound = this.from + this.pagination.perPage
        if (this.total < highBound) {
          highBound = this.total
        }
        return highBound
      },
      from () {
        return this.pagination.perPage * (this.pagination.currentPage - 1)
      },
      total () {
        this.pagination.total = this.tableData.length
        return this.tableData.length
      }
    },
    data () {
      return {
        pagination: {
          perPage: 5,
          currentPage: 1,
          perPageOptions: [5, 10, 25, 50],
          total: 0
        },
        searchQuery: '',
        propsToSearch: ['name', 'guard_name'],
        tableColumns: [
          {
            prop: 'name',
            label: 'Name',
            minWidth: 230
          },
          {
            prop: 'guard_name',
            label: 'Guard',
            minWidth: 230
          }
        ],
        tableData: []
      }
    },
    methods: {
      handleDelete (index, row) {
        var tData = this.tableData;
        let indexToDelete = tData.findIndex((tableRow) => tableRow.id === row.id)
        if (indexToDelete >= 0) {
          swal({
            title: `Delete permission ${row.name}?`,
            text: `You won't be able to revert this!`,
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success btn-fill',
            cancelButtonClass: 'btn btn-danger btn-fill',
            confirmButtonText: 'Yes, delete it!',
            buttonsStyling: false
          }).then(function () {
            axios.delete('/api/admin/access-control/permission/' + row.id).then(() => {
              tData.splice(indexToDelete, 1)

              swal({
                title: 'Deleted!',
                text: 'Permission has been deleted.',
                type: 'success',
                confirmButtonClass: 'btn btn-success btn-fill',
                buttonsStyling: false
              })
            })
          }, function (dismiss) {
            //
          })
        }
      }
    },
    mounted () {
      axios.get('/api/admin/access-control/permissions').then(({ data }) => {
        this.tableData = data;
      });
    }
  }
</script>
<style>
.el-select .el-input .el-select__caret{
    line-height: 16px;
}
</style>
