<template>
  <div class="card">
    <div class="card-header">
      <h4 class="title">Edit Permission</h4>
    </div>
    <div class="card-content">
      <form>
        <div class="row">
          <div class="col-md-6">
            <fg-input type="text"
                      label="Name"
                      placeholder="Name"
                      v-model="permission.name">
            </fg-input>
          </div>
          <div class="col-md-6">
            <fg-input type="text"
                      label="Guard"
                      placeholder="Guard"
                      v-model="permission.guard_name">
            </fg-input>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-default btn-fill btn-wd" @click="$router.go(-1)">
            Back
          </button>
          <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="updatePermission">
            Update Permission
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</template>
<script>
  import axios from 'axios'
  import swal from 'sweetalert2'

  export default {
    data () {
      return {
        permissionId: null,
        permission: {
          name: '',
          guard_name: ''
        }
      }
    },
    methods: {
      updatePermission () {
        var app = this;
        axios.put('/api/admin/access-control/permission/' + app.permissionId, {name: this.permission.name, guard_name: this.permission.guard_name}).then(() => {
          swal({
            title: `Success!`,
            text: `Permission was updated!`,
            buttonsStyling: false,
            confirmButtonClass: 'btn btn-success btn-fill',
            type: 'success'
          });

          app.$router.push({ name: 'Permissions' });
        }).catch(function (error) {
          //
        }).then(function () {
          //
        });
      }
    },
    mounted () {
      let app = this;
      let id = app.$route.params.id;
      app.permissionId = id;

      axios.get('/api/admin/access-control/permission/' + id).then(({ data }) => {
        app.permission = data;
      });
    }
  }
</script>
<style>

</style>
