<template>
  <div>
    <h4 class="title">{{ title }}</h4>
    <section>
      <slot></slot>
    </section>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Your page Title'
    }
  }
}
</script>
