<template>
  <div>
    <div :style="{ 'height': height }" class="minisite-content-block">
      <slot></slot>
      <p v-if="showEditBackground" class="text-center mt-20 text-muted" style="cursor: pointer" @click="changeBackgroundDialog = true">
        {{ editText }}
      </p>
      <span class="block-rounded"></span>
    </div>

    <!-- Change background dialog -->
    <el-dialog
      title="Your Images"
      :visible.sync="changeBackgroundDialog"
      width="30%"
      append-to-body>
      <div class="image-container" @click="$emit('select-background')">
        <i class="fa fa-image image-icon"></i>
      </div>
      <el-slider type="info"></el-slider>
      <el-input placeholder="Target URL">
      </el-input>
      <span slot="footer" class="dialog-footer">
        <el-button type="info" round @click="changeBackgroundDialog = false">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import { Dialog, Slider, Input } from 'element-ui'
  export default {
    inheritAttrs: false,
    components: {
      'el-dialog': Dialog,
      'el-slider': Slider,
      'el-input': Input
    },
    props: {
      showEditBackground: {
        type: Boolean,
        default: true
      },
      editText: {
        type: String,
        default: 'Edit header with image'
      },
      height: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        changeBackgroundDialog: false
      }
    }
  }
</script>
<style>
.block-rounded {
  position: absolute;
  right: -25px;
  bottom: -25px;
  background: #E5E5E5;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
</style>
