<template>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="card card-minisite" style="padding-bottom: 30px">
        <div class="card-content">
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <slot></slot>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right" style="margin-top: 30px">
        <el-button type="info" round>
          Save Minisite
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: 'Edit your background color'
    }
  }
}
</script>
