<template>
<div class="scroll">
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="col-md-12">
          <div class="title-text ellipsis" style="width:calc(100% - 120px);">
            <!-- <el-tag
              :type="status === 'Draft' ? 'warning' : 'info'"
              disable-transitions>{{status}}
            </el-tag> -->
            "{{name}}" Campaign
          </div>
          <div class="right-side">
            <button type="button" class="btn" width="113px" @click="analyticsModal">
              Analytics
            </button>
          </div>
        </div>
      </div>
      <div class="row data-wrapper">
        <div class="col-md-2">
              View
        </div>
        <div class="col-md-4">
          : 9.999.999.999
        </div>
        <div class="col-md-2">
              Leads
        </div>
        <div class="col-md-4">
          : 9.999.999.999
        </div>
      </div>
      <div class="row data-wrapper">
        <div class="col-md-12">
          <div class="title-text"><b>Intro</b></div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
                  View
            </div>
            <div class="col-md-8">
              : 9.999.999.999
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
                  Leads
            </div>
            <div class="col-md-8">
              : 9.999.999.999
            </div>
          </div>
        </div>
      </div>
      <div class="row data-wrapper">
        <div class="col-md-12">
          <div class="title-text"><b>Quiz</b></div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
                  View
            </div>
            <div class="col-md-8">
              : 9.999.999.999
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
                  Leads
            </div>
            <div class="col-md-8">
              : 9.999.999.999
            </div>
          </div>
        </div>
      </div>
      <div class="row  data-wrapper">
        <div class="col-md-12">
          <div class="title-text"><b>Result A</b></div>
          <br>
        </div>
      </div>
      <div class="row  data-wrapper">
        <div class="col-md-12">
          <div class="title-text"><b>Result B</b></div>
          <br>
        </div>
      </div>
      <div class="row  data-wrapper">
        <div class="col-md-12">
          <div class="title-text"><b>Result C</b></div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default{
  data(){
    return{
        name: 'qwe',
        status: 'Published',
        updateDate: '39 Days'
      }
  },
  methods: {
    analyticsModal() {
      const self = this;
      self.$modal.show({
        data() {
          return { }
        },
        computed: {
        },
        template : `
          <div class="modal-content" style="border:none;">
            <div class="modal-header">
              <h5 class="modal-title pull-left">
                <b>Analytic</b>
              </h5>
              <button type="button" class="close pull-right" @click="closeAnalyticsModal">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
                  <b style="font-size:0.85em;">
                    Total View :</b>
                  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 bgcount align-middle text-center">
                    <h3 style="margin-top:15px;">147</h3>
                  </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
                  <b style="font-size:0.85em;">
                    Total Leads :</b>
                  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 bgcount align-middle text-center">
                    <h3 style="margin-top:15px;">85</h3>
                  </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
                  <b style="font-size:0.85em;">
                    Convertion Rate :</b>
                  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 bgcount align-middle text-center">
                    <h3 style="margin-top:15px;">168</h3>
                  </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
                  <b style="font-size:0.85em;">
                    Total Over Click :</b>
                  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 bgcount align-middle text-center">
                    <h3 style="margin-top:15px;">235</h3>
                  </div>
                </div>

                <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6" style="margin-top:10px;">
                  <b style="font-size:0.85em;">
                    Total Share :</b>
                  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 bgcount align-middle text-center">
                    <h3 style="margin-top:15px;">155</h3>
                  </div>
                </div>
              </div>            
            </div>
            <div class="modal-footer" style="border:none;">
              <button class="btn btn-wd" @click="closeAnalyticsModal">
                Finish
              </button>
            </div>
          </div>
        `,
        methods: {
          closeAnalyticsModal() {
            self.$modal.hide('analyticsModal');
          }
        }
      }, null, {
        name: 'analyticsModal'
      })
    }
  }
}
</script>

<style lang="scss">
.bgcount {
  background-color:#eee;
}
.card{
  margin-bottom: 0px;
  .data-wrapper{
    padding: 10px 15px;
    margin: 10px 0px;
    background-color: #ececec;
    font-size: 14px;
    color: #66615b;
  }
}

.scroll{
  min-height: calc(100vh - 300px);
  max-height: calc(100vh - 300px);
  overflow-y: auto;
  overflow-x:hidden;

    &::-webkit-scrollbar {
      width: .4em;
    }
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      overflow:visible;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,.2);
    }
}

.card-content{
  vertical-align: middle;
  padding: 10px 15px 10px !important;

  .title-text{
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    color: #66615b;
    vertical-align: middle;
    line-height: 38px;
  }

  .right-side{
    float: right;
    vertical-align: middle;
    line-height: normal;
    display: inline;
  }
}
</style>
