.el-collapse{
  border:none !important;
  margin-top: -20px;
}
.el-collapse-item{
    border-radius: $border-radius-small;
    font-size: $font-size-base;
    font-weight: $font-weight-light;
    line-height: 1.6em;
    margin-top: 0px;
    padding: 5px 0px;
    border-bottom: 1px solid #d3d3d3;
}
.el-collapse-item__wrap{
  border-bottom: none !important;
}
.el-collapse-item{
    .el-collapse-item__header {
        border: 0 none;
        border-radius: $border-radius-small;
        font-weight: bold;
        font-size: $font-size-medium;
        color: $font-color;
        &:hover,
        &:active,
        &:focus{
          color: $default-color;
        }
    }
    .el-collapse-item__content{
      border: none;
      box-shadow: none;
      color: $font-color;
      padding: 10px 0px 0px 0px;
    }
}
